
.cab{

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;

}


.nav {
    display: flex;
    margin-right: 5px;
}



.nav {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.nav :hover {
    background: #3f3f3f;
}




.header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header {
    height: 60vh !important;
    background: url(img/header.jpg) no-repeat center;
    background-size: cover;
}



.todo{
	background-color: #baefff;
}
.one{
	color: blue;
	font-size:80px;
	margin-left: 120px;
}

.cursiva{
	  font-style: italic;
	  font-size:40px;
	  margin-left: 15px;

}

.fin{
	font-style: italic;
	font-size:20px;
	 margin-left: 500px;

}
.fin1{
	font-style: italic;
	font-size:20px;
	 margin-left: 690px;

}

.fin2{
	font-style: italic;
	font-size:20px;
	 margin-left: 620px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

    ul{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
    ul li{
    position: relative;
    list-style: none;
  }
  ul li a{
    position: relative;
    font-size: 2em;
    text-decoration: none;
    line-height: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255,255,255,0.5);
  }
  ul li a::before{
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid  var(--clr);
    -webkit-text-stroke: 1px  var(--clr);
  }
  ul li a:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
  } 




  .color{
  	margin-left: 25px;
    font-size: 40px;
    background: linear-gradient(#1497be, #1c2aec);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

  .color2{
  	margin-left: 25px;
    font-size: 40px;
    background: linear-gradient(#58be14, #7a14be);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}



 .color3{
 	margin-left: 25px;
    font-size: 40px;
    background: linear-gradient(#bbbe14, #14be66);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}





 .color4{
 	margin-left: 25px;
    font-size: 40px;
    background: linear-gradient(#be3f14, #be1469);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 5s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}


.texto{
	font-family: sans-serif;
	font-size: 25px;
	margin-left: 50px;
	margin-right: 100px;
}

.tit{
	font-family: Arial;
	font-size: 25px;
	margin-left: 25px;
}


.tit2{
	font-family: Arial;
	font-size: 25px;
	margin-left: 25px;
}


.tit3{
	font-family: Arial;
	font-size: 25px;
	margin-left: 25px;
}

.tit4{
	font-family: Arial;
	font-size: 25px;
	margin-left: 25px;
}

.an{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }

.an2{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }

  .an3{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }

  .an4{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }

 .an5{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }


.pa{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }


.pa2{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  


.pa3{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa4{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa5{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa6{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

 .pa7{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }   
.pa8{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

  .pa9{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa10{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }

 .pa11{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  
  
  .pa11{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }

  .pa12{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }    

.pa13{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa14{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa15{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.pa16{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }


  .pa17{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }    


.pa18{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  


  .pa19{
	font-family: sans-serif;
	font-size:18px ;
	margin-left: 45px;
  }  

.foto{
	margin-left: 600px;
}

.foto1{
	margin-left: 200px;
}

.foto2{
	margin-left: 150px;
}

.uu{
	margin-left: 240px;
}






 .ap{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }


  .ap2{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }


   .ap3{
	font-family: sans-serif;
	font-size:20px ;
	margin-left: 35px;
  }




  .bt {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 10px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin-left: 620px;
 }



 .bt::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
 }

 .bt:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }

 .bt:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }